#controls{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #FFC107;
    color: white;
}

.nav{
	display: flex;
	flex-direction: row;
}

.nav > div{
	padding: 10px;
	justify-content: center;
	align-items: center;
}

.nav > div > span > i{
	font-size: 19px;
}

.sidebar{
	display: none;
	padding: 20px;
	height: calc(100% - 40px);
	z-index: 4;
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	width: 200px;
	top: 0;
	overflow: auto;
}

#left-side{
	left: 0;
}

.sidebar h6{
	margin-top: 5px;
	margin-bottom: 5px;
}

#verts{
	padding: 5px;
    display: flex;
    align-items: center;
    background-color: #313131;
    color: white;
}

#verts h6{
	margin: 0;
    font-weight: 400;
    font-size: 12px;
    margin-left: 20px;
}

#verts i{
	font-size: 17px;
}

#verts .btn{
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 5px;
}

#right-side{
	width: 200px;
	display: flex;
	position: relative;
	flex-direction: column;
}